/* scss document*/
* {box-sizing: border-box}

body {
    text-align:center;
    font-size: 1.2em;
    letter-spacing: 2px;
    color:#E1C8AD;
    background-image: url("images/homePage.jpg");
}

a h1 {
    color:#DBA367;
}

#myNav a {
    color:#DBA367;
    font-size: 2em;
}

legend {
    font-size:1.4em;
}

fieldset {
    border:6px solid #A87D4F;
    img {
        width:150px;
        height:150px;
}}

section {   /* for shop page */
    border:4px solid #A87D4F;
    padding:30px;
    img {
        width:150px;
        height:200px;
}}

.honeypot { /* main form */
    display:none;
} 

.logo {
    position:absolute;
    left:2em;
}

.glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  @media only screen and (min-width: 768px) {
    .glow:hover, .glow:focus, .glow:active {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }}

.book {
    margin-top:30px;
}

#admin p a, #updated+p a,#updated+p+p a, #deleted{
    color:#DBA367;
    font-size:2em;
}


p span, input+span {
    color:#F5161B;
}

#home label {
    font-size: 1.5em;
}

h1  {                           
    font-size:2.5em;
}

button {
    background-color: #5C442B;
    color: #E0C7AD;
}

#disRecipes {           /* display the 3 recipes to select from */
    font-size:1.2em;
    img {
        width:200px;
        height:300px;}
    display:grid;
    grid-template-columns: auto auto auto;
    background-color:#A87D4F;
    justify-content: space-evenly;
    padding:10px;
    @media only screen and (max-width: 767px) {
        grid-template-columns: auto !important;
        grid-template-rows: auto auto auto;
    }
}

.gridItem {
    border: 2px solid #5C5247;
    padding:10px;
    margin:10px;
}

#getImage, #myRecipe, #deleteIng, #deleteStep,#removeItems,#removeIngItem {       /* getImage for file uploader, display if dropdown selected */
    display:none;                   /* display 'my recipes' in dropdown if any recipes submitted*/
}

#imagePreview img{
    height: 300px;
    width:200px;
}

footer {
    img {
        width:50px;
        height:50px;
    }
    background-color: #5C442B;
    z-index: 3;
}

#recipeUpdate {
    padding:20px;

    position:relative;
    color:#E1C8AD;

    background-image: url("images/recipeForm.jpg");
   
    transition:all 1s;
}

#recipeForm {      // for filling out recipe form  
    padding:20px;
    height:0;
    position:relative;
    color:#E1C8AD;
    opacity:0;
    bottom:1000px;
    background-image: url("images/recipeForm.jpg");
    z-index: -1;
    transition:all 1s;
}

.showRecipe {
    p  button {
        //font-size:0em;
        background-color:#A87D4F;
        margin-bottom:10px;
    }
    p {
        margin:10px 30px;
    }
    @media only screen and (max-width: 767px)   {
        position:fixed;
        top:260px;
        font-size: .5em;
        z-index: 6;
        img {
            height:150px;
            width:100px;
        }
    }
    background-image: url("images/recipeBack.jpg");
    position: relative;
    text-align: center;
    color:#DBA367;
    margin:20px;
    img {
        height:300px;
        width:200px;
    }
}


.container1 {   // for displayFullRecipe 
    p  button {
        //font-size:0em;
        background-color:#A87D4F;
        margin-bottom:10px;
    }
    p {
        margin:10px 30px;
    }
    @media only screen and (max-width: 767px)   {
        position:fixed;
        top:260px;
        font-size: .5em;
        z-index: 6;
        img {
            height:150px;
            width:100px;
        }
    }
    background-image: url("images/recipeBack.jpg");
    z-index:-5;
    position: relative;
    right:1000px;
    top:500px;
    text-align: center;
    color:#DBA367;
    //font-size: 0em;
    transition: all 1s;
    //display:none;
    height:0;
    opacity:0;
    margin:20px;
    img {
        height:300px;
        width:200px;
    }
}

.responsive {
    max-width: 100%;
    height: auto;
    margin: auto; 
    border-radius:10px;  }

.col img {
    height:300px;
    width:200px;
    }